* {
    font-family: Arial;
    box-sizing: border-box;
}

.container {
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.page {
    background: #FFFFFF;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card__body {
    width: 400px;
    height: 300px;
}

.card__body:hover {
    -webkit-box-shadow: 0px 6px 47px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 6px 47px 0px rgba(0,0,0,0.47);
    box-shadow: 0px 6px 47px 0px rgba(0,0,0,0.47);
}

.user__name {
    font-size: 25px;
    padding: 25px 0px 25px 25px;
}
.card__body .user__phone,
.card__body .user__email {
    display: flex;
    align-items: center;
    color: grey;
}

.modal__user-name {
    font-size: 28px;
    margin: 30px 0px 25px 10px;
}

.modal__user-phone, .modal__user-email, .modal__user-date,
.modal__user-position-name, .modal__user-department {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
    padding: 0px;
    white-space: nowrap;
}

.li__main {
    margin-right: 3em;
}

.li__secondary {
    color: grey;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
}

.card__body .user__email {
    text-decoration: underline;
}

.search-img {
    width: 2%;
    height: auto;
}

.button {
    margin-top: 40px;
    text-align: center;
}

.button a {
    text-decoration: none;
    color: #333;
}

.button a:hover {
    color: #a3cd5e;
}

.button a:active {
    color: #4dcd3b;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 2s;
}

.modal--show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__card {
    background-color: #ffffff;
    max-width: 600px;
    width: 550px;
    height: 450px;
    padding: 16px;
    margin-bottom: 300px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    color: #333;
    display: flex;
    flex-direction: column;
    position: relative;
}

.modal__button-close {
    position: absolute;
    top: -20px;
    left: 252px;
    margin: 0 auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(189, 94, 189);
    color: #ffffff;
    font-size: 14px;
    border: none;
    text-align: center;
}

.modal__button-close:hover {
    background-color: #ff8080;
}

.info__title {
    margin: 20px 0px 15px 0px;
}


.info__text {
    font-size: 12px;
    color: grey;
    text-align: justify;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.mg-10 {
    margin: 10px;
}

.mg-5 {
    margin: 5px;
}

.pd-10 {
    padding: 10px;
}

.rounded {
    border-radius: 1.5em;
}

.border {
    border: 2px solid grey;
}

.shadow {
    -webkit-box-shadow: 0px 6px 47px 0px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 6px 47px 0px rgba(0,0,0,0.06);
    box-shadow: 0px 6px 47px 0px rgba(0,0,0,0.06);
}

.search {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-field {
    padding: 20px 50px 20px 50px;
    width: 100%;
    margin: 50px;
    opacity: 0.2;
}

#search-field:focus {
    color: black;
    opacity: 0.5;
}

input.icon{
    background: url('https://cdn.icon-icons.com/icons2/621/PNG/64/magnifier-1_icon-icons.com_56924.png') no-repeat center right;
    background-size: 25px;
    background-origin: content-box;
}

.icon {
    width: 25px;
    height: 25px;
    margin: 0px 15px 0px 0px;
}

ul {
    list-style: none;
}

.hide {
    display: none;
}